# For Local Deploys only
# Fill it in and rename it to .env if you are deploying on a Local Machine / VPS


API_ID=62
API_HASH=eb06d4abfb49dc3eeb1aeb98ae0f581e
SESSION=pyrogram_string_session
HNDLR=!
